# Ignore node modules in all directories
**/node_modules/

# Ignore environment files (both frontend and backend)
*.env

# Ignore build folders (React or any build system)
**/build/
**/dist/

# Optional: log files, system files
*.log
.DS_Store
